@import url("https://fonts.googleapis.com/css?family=Roboto");

a{
  margin-left: 40px;
}
#search{
  border-radius: 10px;
}
.btn1{
  border-radius: 20px;
}
.btn2{
  border-radius: 20px;
  margin-left: 10px;
}
.delete{
  margin-left:5px;
}
.close{
  font-size: 20px;
}
.icon-blog{
  margin-left:150px;
  display: flex;
}
.blog-icon{
  margin-left:220px;
  display: flex;
}

