@import url("https://fonts.googleapis.com/css?family=Roboto");
a{
  margin-left: 40px;
}
#search{
  border-radius: 10px;
}
.btn1{
  border-radius: 20px;
}
.btn2{
  border-radius: 20px;
  margin-left: 25px;
}
.replay{
  margin-left: 50px;
}
.delete{
  margin-left:5px;
}
.close{
  font-size: 20px;
}
.blog-icon{
  margin-left:220px;
  display: flex;
}
.icon{
  margin-right:11px;
}
.icon-edit{
  margin-right:-11px;
}
.icon1-blog{
  margin-left:200px;
}
.icon2-blog{
  margin-left:100px;
}